<footer class="footer">
  <div class="container text-center">
    <p>Свяжитесь с нами:</p>
    
    <p>
      <i class="bi bi-envelope"></i> 
      <a href="mailto:masa.malai15&#64;gmail.com">masa.malai15&#64;gmail.com</a>
    </p>

    <p>
      <i class="bi bi-telephone"></i> 
      <a href="tel:+37378673662">078673662</a>
    </p>

    <p>
      <i class="bi bi-instagram"></i> 
      <a href="https://www.instagram.com/masunia_meri/" target="_blank">Instagram</a>
    </p>

    <p>
      <i class="bi bi-facebook"></i> 
      <a href="https://www.facebook.com/masa.iosif" target="_blank">Facebook</a>
    </p>
  </div>
</footer>


  
