<div class="about-container">
  <div class="container">
    <h2 class="text-center">Добро пожаловать!</h2>
    <p>Мы находимся в Молдове, городе Кагул. Это прекрасный город, известный своей историей и культурой.</p>
    <p>Наши свечи создаются с любовью и вниманием к деталям, и мы гордимся тем, что можем предложить вам продукцию высшего качества.</p>

    <section class="about">
      <div class="about-content">
        <!-- Фото Маши -->
        <div class="about-photo">
          <img src="assets/6B789AC8-C9DC-4A23-B44A-70F36759CCFF.jpeg" alt="Маша" />
        </div>

        <!-- Информация о Маше -->
        <div class="about-info">
          <h2>Маша</h2>
          <p>Привет! Меня зовут Маша, и я создаю уникальные свечи на заказ для любых праздников и торжеств. Каждая свеча — это не просто предмет декора, а индивидуальное произведение искусства, которое создаётся с любовью и вниманием к деталям.</p>
          <p>Я занимаюсь изготовлением свечей для свадеб, дней рождений, корпоративов и других событий. Могу сделать свечи по вашему индивидуальному заказу, чтобы они идеально соответствовали вашей теме и стилю праздника.</p>
          <h3>Что я предлагаю:</h3>
          <ul>
            <li>Свечи для свадеб</li>
            <li>Свечи для дней рождений</li>
            <li>Свечи для корпоративов</li>
            <li>Подарочные свечи</li>
            <li>Индивидуальные заказы по вашему запросу</li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Фото Маши с примаром -->
    <section class="about-photo-with-prima">
      <h2>Маша с примаром города Кагула, Николаем Дандишем</h2>
      <div class="about-prima-container">
        <!-- Фото Маши с примаром -->
        <div class="about-prima-photo">
          <img src="/assets/IMG_7829.jpeg" alt="Маша с примаром города Кагула, Николай Дандиш" class="primar-photo"style="width: 450px; height: auto;" />
        </div>
        
        <!-- Текст справа от фото -->
        <div class="about-prima-info">
          <p>Маша получила сертификат за свои достижения в области создания уникальных свечей на заказ.</p>
          <p>Каждый год в городе Кагул проходит ярмарка, где мастера со всего региона представляют свои работы. Это событие привлекает множество гостей и ценителей уникального ремесла.</p>
        </div>
      </div>
    </section>
    

    <div class="container mt-5">
      
      <div class="row mt-4">
        <!-- Отзывы -->
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card">
            <img src="/assets/IMG_3151.jpeg" class="card-img-top" alt="Отзыв 1">
            <div class="card-body">
              <h5 class="card-title">Иван Иванов</h5>
              <p class="card-text">"Отличный сервис! Я очень доволен качеством работы."</p>
              <!-- Рейтинг -->
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card">
            <img src="/assets/IMG_3089.jpeg" class="card-img-top" alt="Отзыв 2">
            <div class="card-body">
              <h5 class="card-title">Мария Петрова</h5>
              <p class="card-text">"Быстро и качественно. Рекомендую всем!"</p>
              <!-- Рейтинг -->
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
    
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card">
            <img src="/assets/IMG_3096.jpeg" class="card-img-top" alt="Отзыв 3">
            <div class="card-body">
              <h5 class="card-title">Алексей Смирнов</h5>
              <p class="card-text">"Лучшее обслуживание, которое я когда-либо встречал!"</p>
              <!-- Рейтинг -->
              <div class="rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="map">
      <h3>Наша локация</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12251.787390501025!2d28.7178230712425!3d45.87142940106591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c7e36c9d37e3b7%3A0x4243abdc5fcfe702!2z0JrQsNC70LjQvdC40L3QsNGC0L3QvdC-!5e0!3m2!1sru!2s!4v1614913466474!5m2!1sru!2s" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>

    
    
    
    
      
    
    
    